@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.page-wrap {
  background: url(https://www.runescape.com/img/rsp777/bg2.jpg) repeat-y center top;
  background-color:black;
  min-height: 100vh;
  max-height: 100%;
  color: white;
  display: flex;
  align-items: center;
}
.home-page-container {
  height: 100vh;
  color: white;
  max-width: 815px;
  margin-top: 40px;
  margin: 0 auto;
}
.home-page-container h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.group-search-container form {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
}
.grid-container label {
  font-size: 1.5rem;
  color: white;
}

.collection-log-container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.collection-log-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: white 1px solid;
}
.collection-log-tabs {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  color: white;
  border: white 1px solid;
}
.collection-log-tab {
  flex-grow: 1;
  color: white;
  font-size: 1.5rem;
  border: white 1px solid;
  text-align: center;
}
.collection-log-tab:hover {
  cursor: pointer;
  background-color: #1e1e1e;
}
.collection-log-tab-active {
  background-color: #1e1e1e;
}
.collection-log-tab-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  color: white;
  font-size: 1.5rem;
  border: white 1px solid;
}
.collection-log-item-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 28%;
  color: white;
  font-size: 1.5rem;
  border: white 1px solid;
}
.collection-log-entry-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
  max-height: 100%;
  color: white;
  font-size: 1.5rem;
  border: white 1px solid;
}
.entry-text {
  color: white;
  font-size: 1rem;
  margin-left: 5px;
}
.entry-text:hover {
  cursor: pointer;
  color: gold
}
.item-tile {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  border: white 1px solid;
}